@import "~bootstrap/scss/bootstrap.scss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 60, 197, 0.623);
}

.trafficbox {
  height: 220px;
  width: 70px;
}

.stick {
    height: 60px;
    width:10px;
}
.circle {
  height: 50px;
  width: 50px;
}
.selected{
    box-shadow: #f5d3139f 0px 0px 50px 20px;
}

.bicycle{
    margin:auto;
    font-size:30px;
    color:rgba(0, 0, 0, 0.322);
}