@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 220px;
  width: 70px;
}

.circle {
  height: 50px;
  width: 50px;
}
.selected{
    box-shadow: #f5d31359 0px 0px 50px 20px;
}